.name{
    width: 100dvw;
    height: 100dvh;
    text-align: center;
    margin: auto;
    position: fixed;
    padding-top: 10%;
}
.mainName{
    font-family: fantasy;
    font-size: 12dvw;
}
.lastName{
    font-family: cursive;
    font-size: 6dvw;
}