
.msg{
    width: 100dvw;
    height: 100dvh;
    text-align: center;
    top: 0px;
    left: 0px;
    position: fixed;
    padding-top: 10%;
}

.Compatablemsg{
    font-size: 5dvw;
    font-family: cursive;
}
.info{
    font-size: larger;
}